.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(var(--background-soft-rgb));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.315);
}

.title{
    color: rgb(var(--text-soft-rgb));
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.input{
    
}

.search{

}

.icons{

}